.home-page {
  .profile {
    overflow-x: hidden;
    .profile-title {
      padding: 0 3rem;
      img {
        width: 40px;
      }
      h3 {
        font-weight: 700;
        padding-top: 10px;
        padding-left: 45px;
      }
      @media (max-width: 576px) {
        padding: 0 1rem;
      }
    }
    .profile-img {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .profile-detail {
      margin-top: 10px;
      h6 {
        font-weight: bold;
        margin-bottom: 2px;
      }
      p {
        font-size: 14px;
        margin-bottom: 0;
      }
      @media (max-width: 576px) {
        padding: 0 1.5rem;
      }
    }
  }

  .slider {
    .slider-bg {
      background: #e0e0e0;
      border-radius: 10px;
    }
  }
}
