.contact {
  margin: 120px 0;
  overflow-x: hidden;
  .contact-wrap {
    display: grid;
    grid-template-columns: 70% 30%;
    .contact-content {
      h3 {
        font-weight: bold;
      }
      p {
        margin: 1rem 0;
      }
    }
    .contact-img {
      img {
        max-width: 150px;
      }
    }
  }

  @media (max-width: 576px) {
    margin: 40px 0;
    .contact-wrap {
      padding: 1.5rem;
      grid-template-columns: unset;
      .contact-content {
        order: 2;
        h3 {
          font-size: 22px;
        }
      }
      .contact-img {
        order: 1;
        margin-bottom: 1rem;
      }
    }
  }
}
