.section-whyUs {
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;

  .whyUs-text {
    padding: 15%;
    h4{
      font-weight: 600;
    }
  }
  .card-support {
    height: 100%;
    img {
      width: 80px;
    }
    .card-1 {
      background: #157599;
      display: flex;
    }
    .card-2 {
      background: #2093be;
      display: flex;
      .ic-24 {
        margin-left: 10px;
      }
    }
    .card-3 {
      background: #2eb3e5;
      display: flex;
    }
    .card-content {
      margin: auto;
      p {
        color: #fff;
        margin-top: 2rem;
      }
    }
  }
  @media (max-width: 576px) {
    .whyUs-text{
      padding: 10%;
    }
    .card-support{
      img{
        width: 50px;
        margin: 20px 16px 0 16px;
      }
      .card-content{
        p{
          margin-top: 1rem;
        }
      }
      .card-2{
        .ic-24 {
          margin-left: 20px;
        }
      }
    }
  }
}
